{
  "globals": {
    "Binary": true,
    "Readable": true
  },
  "extends": [
    "plugin:@automattic/wpvip/base"
  ],
  "plugins": ["jest"],
  "rules": {
    "jest/no-conditional-expect": "warn",
    "no-process-exit": "warn",
    "no-console": "off"
  }
}
