name: Publish to npm (if applicable)

on:
  pull_request:
    types: [closed]

jobs:
  publish:
    name: Publish to npm
    runs-on: ubuntu-latest
    if: contains( github.event.pull_request.labels.*.name, '[ Type ] NPM version update' ) && startsWith( github.head_ref, 'release/') && github.event.pull_request.merged == true
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    steps:
      - uses: Automattic/vip-actions/npm-publish@c8022b66e78461df4f802b935dc0dbb8399f96bc # v0.7.4
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          PROVENANCE: 'true'
          CONVENTIONAL_COMMITS: 'true'
          SKIP_BUMP_TO_DEV: 'true'
          TAG_PREFIX: 'v'
