name: Stale monitor

on:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: read

jobs:
  stale:
    name: Stale
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: Automattic/vip-actions/stale@08981f10d85134a309ae47bf590b5e8ea5172d46 # trunk
